/*.date-range-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-group {
  max-width: 400px;
  width: 100%;
}

button {
  align-self: flex-end;
}*/
#control_wrapper {
  max-width: 246px;
  margin: 30px auto;
  padding-top: 50px;
}
.control-section {
  margin: 25px auto;
}
